<div class="jobs-list-header">
  <div class="bg">
    <div class="text">
      <h2>Careers at Comfort Works</h2>
      <a class="scroll-to-list">
        Scroll to Job Openings
        <i class="pi pi-arrow-down"></i>
      </a>
    </div>
    <div class="overlay"></div>
  </div>
  <div class="description">
    <div class="container">
      <p>
        Comfort Works aims to breathe new life into all of the world’s living room; we do it by creating beautiful, handmade slipcovers that rejuvenate old and tired sofas. Every aspect of our operation is done in-house: from envelope design to web development to product manufacturing, nothing is outsourced. Comfort Works is where designers, geeks, writers, number crunchers, marketers, analysts, strategists, cat people, dog people, human people, manga lovers, movie lovers, gamers, introverts, extroverts and innovators who dream outside the box come together to help their fellow humans fall in love with their homes...over and over again.We design with the belief that we can live simple and beautiful by trying to revive the hidden potential of our old furniture and doing our part for the planet. Before we knew it, Comfort Works expanded into a huge range of products specializing in IKEA sofa covers, custom furniture slipcovers and other complementary accessories.
      </p>
    </div>
  </div>
</div>
